.suggestions-list {
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido es más largo */
    border: 1px solid #ccc; /* Opcional: agregar un borde para mayor claridad */
    padding: 0;
    margin: 0;
    list-style-type: none; /* Opcional: quitar los puntos de la lista */
  }
  
  .suggestions-list li {
    padding: 8px; /* Ajusta el espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre un elemento */
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0; /* Cambia el fondo al pasar el ratón sobre un elemento */
  }
  